:root {
  --color-meow-10: rgba(92, 95, 233, 1);
  --color-meow-6: rgba(92, 95, 233, 0.6);
  --color-meow-2: rgba(92, 95, 233, 0.2);
  --white: #ffffff;
}

.bg-personal {
  background: url(./assets/images/bg-login.jpg) no-repeat center center fixed;
}

.text-meow {
  color: var(--color-meow-10);
}

.text-justify {
  text-indent: 50px;
  text-align: justify;
}

.hover-meow:hover {
  background-color: var(--color-meow-2);
}

.w-500 {
  width: 500px;
}

.fs-5px {
  font-size: 12px;
}

.login-page {
  width: 100vw;
  height: 100vh;
  background: url(./assets/images/bg-login.jpg) no-repeat center center fixed;
}

.login-form {
  color: white;
  width: 500px;
  height: 450px;
  border-radius: 5px;
  position: absolute;
  text-align: center;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.4);
  padding: 50px;
}

.login-page-logo {
  width: 80px;
  height: 80px;
  border: solid 2px;
  border-radius: 50%;
}

.spinner {
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.6);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000;
}

.spinner img {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* COMMON LAYOUT */
#header {
  width: 100vw;
  height: 60px;
}

body {
  background-color: #ddd !important;
}

.block {
  height: 820px;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 5px auto;
  border-radius: 8px;
  margin-top: 70px;
}

/* SEARCH */
#search-result {
  border: solid 1px #dddddd !important;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

#search-result ul{
  max-height: 400px;
  overflow: scroll;
}

#search-result ul:first-child, #search-result ul:first-child li {
  border-radius: 0;
}

#search-result ul:last-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  border-bottom: 0;
}

.searching-state-input {
  border-top-left-radius: 16px!important;
  border-top-right-radius: 16px!important;
  border-bottom-left-radius: 0!important;
  border-bottom-right-radius: 0!important;
}

/* SIDE BAR */
#compose-email {
  width: 170px;
  height: 50px;
  border: 0;
  border-radius: 5px;
  margin: 10px;
  background-color: rgba(92, 95, 233, 0.2);
}

#compose-email:hover {
  background-color: var(--color-meow-6);
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}

.mail-folder {
  margin: 0;
  color: rgba(0, 0, 0, 0.6) !important;
}

.mail-folder-selected {
  border-left: solid 3px var(--color-meow-10) !important;
  background-color: var(--color-meow-6) !important;
  color: white !important;
}

/* MAIL LIST */
#mail-list {
  padding: 10px;
  overflow: hidden;
}

#mail-list-table {
  height: 93%;
  overflow: scroll;
}

#mail-list-table table {
  --bs-table-bg: none;
}

.flag {
  top: 30%;
  left: -15px;
}

/* MAIL DETAIL */
#mail-actions button:hover {
  background-color: var(--color-meow-6);
}

#mail-details img {
  width: 60px;
  height: 60px;
}

/* COMPOSE EMAIL */
#compose-email-box {
  width: 500px;
  height: 50vh;
  position: absolute;
  bottom: 0;
  right: 15px;
  background-color: white;
  border: solid 1px #ddd;
  z-index: 1000;
}

#compose-email-box table tr td:first-child {
  width: 15px;
}

#compose-email-box textarea {
  width: 100%;
  height: 270px;
  border: 0;
}

#compose-email-box textarea:focus {
  outline: none;
}

.compose-header {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: white;
  font-weight: bold;
  padding-left: 10px;
}

.compose-input {
  width: 100%;
  border: 0;
}

.compose-input:focus {
  outline: none;
}

.compose-icon {
  width: 32px;
  height: 32px;
  padding: 5px;
  font-size: 20px;
  border-radius: 2px;
}

.compose-icon:hover {
  background-color: rgba(92, 95, 233, 0.2);
}

/* SETTINGS */
#folder-setting .list-group {
  max-width: 500px;
}

#export-setting select {
  max-width: 500px;
}

.search-input {
  width: 50px;
  margin-left: 5px;
  text-align: end;
}

/* TOAST */
.toast-success {
  background-color: #51A351!important;
  opacity: 1!important;
}

.toast-error {
  background-color: #bd632f !important;
  opacity: 1!important;
}
